@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;900&family=Chivo+Mono:wght@100&display=swap');

:root {
    --main-color: #C58940;
    --lite-color: #FAF8F1;
    --meduim-color: #E5BA73;
    --black: #222;
    --box-shadow: 0.2rem 0.5rem 0.5rem rgb(0, 0, 0, 0.17);
    --box-shadow2: 0.8rem 1rem 1rem rgb(0, 0, 0, 0.05);
    --padding: 20px 80px;
    --padding2: 40px 80px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
    color: var(--black);
    text-shadow: 0px 4px 3px rgb(0, 0, 0, 0.04);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 46px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h6 {
    font-size: 18px;
}

button {
    padding: 4px 25px;
    background-color: var(--main-color);
    color: white;
    border: 1px solid #C58940;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

#header {
    display: flex;
    flex-direction: row;
    padding: var(--padding);
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    right: 0;
    background-color: white;
}

#header h4 {
    color: var(--main-color);
}

.navbare a {
    display: inline-block;
    margin: 0 2rem;
}

.navbare a:hover h6 {
    color: var(--main-color);
}


i {
    font-size: 26px;
    color: var(--main-color);
}

#bar {
    display: none;
}

footer {
    background-color: #FAEAB1;
}

footer #box_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--padding);
}

footer #box_cont .box {
    width: 14%;
}

footer #box_cont .box a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 0;
}

footer #box_cont .box a h6 {
    padding-right: 12px;
    transition: 0.3s;
}

footer #box_cont .box a:hover h6 {
    padding-right: 24px;
}

footer #box_cont .box h4 {
    padding-bottom: 12px;
}

table,
th,
td {
    border: 1px solid #C58940;
    border-collapse: collapse;
    padding: 14px;
}

th {
    background-color: #E5BA73;
}

tr:nth-child(even) {
    background-color: #FAF8F1;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table-cont{
    width: 70%;
}

table{
    width: 100%;
    margin-top: 32px;
}

#charts{
    display: flex;
    flex-wrap: wrap;
    margin: 48px 0;
}

.chart{
    width:50%;
    text-align: center;
}

#att_table td:nth-child(2),#att_table th:nth-child(2){
    display: none;
}

#tableShow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    overflow-x: auto;
}