@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;900&family=Chivo+Mono:wght@100&display=swap');

:root {
    --main-color: #C58940;
    --lite-color: #FAF8F1;
    --meduim-color: #E5BA73;
    --black: #222;
    --box-shadow: 0.2rem 0.5rem 0.5rem rgb(0, 0, 0, 0.17);
    --box-shadow2: 0.8rem 1rem 1rem rgb(0, 0, 0, 0.05);
    --padding: 20px 80px;
    --padding2: 40px 80px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    color: var(--black);
    text-shadow: 0px 4px 3px rgb(0, 0, 0, 0.04);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 46px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h6 {
    font-size: 18px;
}

button {
    padding: 4px 25px;
    background-color: var(--main-color);
    color: white;
    border: 1px solid #C58940;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

#header {
    display: flex;
    flex-direction: row;
    padding: var(--padding);
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    right: 0;
    background-color: white;
}

#header h4 {
    color: var(--main-color);
}

.navbare a {
    display: inline-block;
    margin: 0 2rem;
}

.navbare a:hover h6 {
    color: var(--main-color);
}


i {
    font-size: 26px;
    color: var(--main-color);
}

#bar {
    display: none;
}

footer {
    background-color: #FAEAB1;
}

footer #box_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--padding);
}

footer #box_cont .box {
    width: 14%;
}

footer #box_cont .box a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 0;
}

footer #box_cont .box a h6 {
    padding-right: 12px;
    transition: 0.3s;
}

footer #box_cont .box a:hover h6 {
    padding-right: 24px;
}

footer #box_cont .box h4 {
    padding-bottom: 12px;
}

#service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
}

#service #card_cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 80px;
    width: 40%;
}

#service #card_cont a {
    padding: 20px;
    text-align: center;
    border: 1px solid hsl(33, 53%, 51%, 0.5);
    border-radius: 12px;
    box-shadow: var(--box-shadow2);
    transition: 0.5s;
    margin: 10px 0;
}

#service #card_cont a:hover {
    box-shadow: var(--box-shadow);
    padding: 30px;
}

.slids {
    height: 80vh;
    box-shadow: var(--box-shadow2);
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slid3 {
    background-image: url("../img/slid1.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}

.slid2 {
    background-image: url("../img/slid2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.slid1 {
    background-image: url("../img/slid3.jpg");
    background-position: 80 80;
    background-repeat: no-repeat;
    background-size: cover;

}

.tit h2 {
    color: white;
    background-color: hsl(0, 0%, 13%, 0.7);
    padding: 4px 12px;
}

.tit h6 {
    color: var(--main-color);
    background-color: hsl(0, 0%, 13%, 0.7);
    padding: 4px 12px;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--padding2);
    width: 80%;
}

.hero .inf{
width: 100%;
}

#next,#next2,#next3,#next4{
width: 50%;
margin: 24px 0;
}

.add2{
    width: auto;
    margin: 2px 0 24px 0;
    display: block; 
}

.hero .inf input,.hero .inf select,textarea{
    width: 50%;
    margin-bottom: 12px;
}

#he2,#he3,#he4{
    display: none;
}

#file{
    border: 1px solid rgb(0, 0, 0, 0.5);
}

@media screen and (max-width:1200PX) {
    #service #card_cont {
        width: 60%;
    }
}

@media screen and (max-width:992px) {
    #bar {
        display: block;
        transition: 0.2s linear;

    }

    .fa-times {
        transform: rotate(90deg);
    }

    #logout {
        display: none;
    }

    .navbare {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid black;
        width: 100%;
        padding: 20px 0;
        background-color: var(--lite-color);
        transition: 0.2s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
    }

    .active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .navbare a {
        display: block;
        margin-right: 4rem;
    }

    .navbare a {
        margin-right: 0rem;
        margin: 1rem;
    }

    #service #card_cont {
        width: 80%;
    }


}

@media screen and (max-width:692px) {
    #service #card_cont,#service {
        padding: 40PX 40PX;
    }
}

@media screen and (max-width:592px) {

    footer #box_cont .box {
        margin: 12px 0;
    }

    footer #box_cont .box {
        width: 100%;
    }

    #service #card_cont,#service {
        padding: 20PX 20PX;
    }

    #service #card_cont{
        justify-content: center;
    }

    #service #card_cont a{
        width: 100%;
    }

    .tit h2{
        font-size: 32PX;
    }

    .tit h6{
        font-size: 12PX;
    }

    .slid1{
        background-position: center;
    }

}

@media screen and (max-width:450px) {
    #header {
        padding: 10px 40px;
    }

}